<app-navbar></app-navbar>
<div class="main">
    <div class="container">
        <div class="feedback">
            <div class="row">
                <div class="col-sm-6 offset-md-3">
                    <h2>Phản hồi về dịch vụ</h2>
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="feedback-form shadow-sm p-3 mb-5 bg-white rounded">
                        <div class="form-group">
                            <div class="row">
                                <div class="feedback-text col-md-3">
                                    Tôi tên là:
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="fullName" name="fullName"
                                        #fullName="ngModel" ngModel required>
                                </div>
                            </div>
                        </div>
                        <div class="error-message">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <div *ngIf="fullName.invalid && fullName.touched" class="alert alert-danger"
                                        role="alert">
                                        Không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="feedback-text">
                                        Số điện thoại:
                                    </span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                        #phoneNumber="ngModel" appPhonenumberValidator required ngModel>
                                </div>
                            </div>
                        </div>
                        <div class="error-message">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <div *ngIf="phoneNumber.invalid && phoneNumber.touched && phoneNumber.errors!.required" class="alert alert-danger"
                                        role="alert">
                                        Không được để trống
                                    </div>
                                    <div *ngIf="phoneNumber.errors !== null && !phoneNumber.errors.required"
                                        class="alert alert-danger" role="alert">
                                        {{phoneNumber.errors!.message}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="feedback-text col-md-3">
                                    Phản hồi về:
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control" name="feedbackType" id="feedbackType">
                                        <option value="1">Chất lượng dịch vụ</option>
                                        <option value="2">Phương tiện di chuyển</option>
                                        <option value="3">Tài xế và dịch vụ</option>
                                        <option value="4">Đóng góp ý kiến</option>
                                        <option value="5">Khác</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="feedback-text col-md-3">
                                    Mô tả:
                                </div>
                                <div class="col-md-9">
                                    <textarea rows="3" class="form-control" id="description" name="description"
                                        #description="ngModel" ngModel required>
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="error-message">
                            <div class="row">
                                <div class="offset-md-3 col-md-9">
                                    <div *ngIf="description.invalid && description.touched" class="alert alert-danger"
                                        role="alert">
                                        Không được để trống
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12" style="text-align: right;">
                                    <button [disabled]="f.invalid" class="btn btn-success">Xác nhận</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slogan">
                                        Sự đóng góp của quý khách là niềm vinh hạnh của chúng tôi
                                    </div>
                                    <div class="help-block">
                                        Mọi sự phản hồi của khách hàng sẽ được công ty ghi nhận và giải quyết cho quý
                                        khách qua điện thoại.
                                        Mọi thắc mắc khách hàng vui lòng liên hệ về số hotline của công ty.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>