<footer class="footer">
    <div class="row">
        <div class="col-md-6">
            <div class="license">
                <p>Giấy Chứng nhận Đăng ký kinh doanh số: 0302029696
                    <br>do Sở Kế hoạch đầu tư TPHCM cấp ngày 29/02/2020
                    <br>Người chịu trách nhiệm: Ông Nguyễn Văn A</p>
                <img src="assets/images/BCT_01.png">
            </div>  
        </div>
        <div class="col-md-6">
            <div class="brand">
                <h4 class="brand-name">Vé xe mắc</h4>
                <hr style="background-color: #0041C2;">
                <p>Hotline: <strong>091 234 5678</strong></p>
                <p>Mail: <strong>example@mail.com</strong></p>
                <p>Địa chỉ: <strong>129 Vĩnh Viễn, F.10, Q.10, TP.Hồ Chí Minh</strong></p>
            </div>
        </div>
    </div>    
</footer>
