.footer{
    margin-top: 30px;
    background-image: url("../../assets/images/BACKGROUND_FOOTER.png");
    background-position: center;
    background-size: cover;
}
.license{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}