<div class="menu">
	<div class="person-info">
		<div class="row">
			<div class="col-md-4">
				<div class="avatar">

				</div>
			</div>
			<div class="col-md-8">
				<div class="info">
					<div class="info-title">
						Xin chào
					</div>
					<div class="full-name">
						Nguyễn Văn A
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="option-frame">
		<div class="working-option">
			<div class="title">Công việc</div>
			<div class="option-list">
				<div class="option">
					<div class="option-text">
						Thống kế doanh thu
					</div>				
				</div>
				<div class="option">
					<div class="option-text">
						Xem vé
					</div>					
				</div>
			</div>
		</div>
		<hr style="margin: 0; background-color: #a8a8a8;">
		<div class="person-option">
			<div class="title">Cá nhân</div>
			<div class="option-list">
				<div class="option">
					<div class="option-text">
						Xem thông tin
					</div>					
				</div>
				<div class="option">
					<div class="option-text">
						Đăng xuất
					</div>					
				</div>
			</div>
		</div>
	</div>	
</div>