<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div id="bus-created">
        <div class="title">
            <h1>Tạo tài khoản cho nhân viên</h1>
        </div>
        <form action="" class="shadow p-3 mb-5 bg-white rounded">
            <div class="form-group">
                <div class="row">
                    <div class="label" class="col-md-6">
                        <label for="fName">Họ</label>
                        <input type="text" class="form-control" id="fName">
                    </div>
                    <div class="col-md-6">
                        <label class="label" for="lName">Tên</label>
                        <input type="text" class="form-control" id="lName">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="userId">Tên đăng nhập</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">                     
                        <input type="text" class="form-control" id="userId">
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary form-control">Đề xuất tên</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="password">Mật khẩu</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="col-md-6">
                        <label class="label" for="repassword">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" id="repassword">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="dOB">Ngày sinh</label>
                        <input type="date" class="form-control" id="dOB">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="address">Địa chỉ</label>
                        <input type="text" class="form-control" id="address">
                    </div>        
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="phoneNumber">Số điện thoại</label>
                        <input type="text" class="form-control" id="phoneNumber">
                    </div>        
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="id">CMND</label>
                        <input type="text" class="form-control" id="id">
                    </div>        
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="note">Ghi chú</label>
                        <textarea rows="3" class="form-control" id="note"></textarea>
                    </div>        
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12" style="text-align: right;">
                       <button class="btn btn-success" type="submit">Xác nhận</button>
                    </div>        
                </div>
            </div>                                
        </form>
    </div>
</div>


