<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div id="bus-created">
        <div class="title">
            <h1>Tạo tài khoản cho nhân viên</h1>
        </div>
        <form (ngSubmit)="onSubmit(id)" #f="ngForm" class="shadow p-3 mb-5 bg-white rounded">
            <div class="form-group">
                <div class="row">
                    <div class="label" class="col-md-6">
                        <label for="fName">Họ</label>
                        <input type="text" class="form-control" id="fName" name="fName" #fName="ngModel" ngModel
                            required>
                    </div>
                    <div class="col-md-6">
                        <label class="label" for="lName">Tên</label>
                        <input type="text" class="form-control" id="lName" name="lName" #lName="ngModel" ngModel
                            required>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <div class="row">
                    <div class="col-md-6">
                        <div *ngIf="fName.invalid && fName.touched" class="alert alert-danger" role="alert">
                            Không được để trống
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div *ngIf="lName.invalid && lName.touched" class="alert alert-danger" role="alert">
                            Không được để trống
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="userId">Tên đăng nhập</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="userId" name="userId" #userId="ngModel" ngModel
                            required>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary form-control">Đề xuất tên</button>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="userId.invalid && userId.touched" class="alert alert-danger" role="alert">
                            Không được để trống
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label class="label" for="password">Mật khẩu</label>
                        <input type="password" class="form-control" class="form-control" id="password" name="password"
                            #password="ngModel" ngModel [(ngModel)]="empPassword.password" required>
                    </div>
                    <div class="col-md-6">
                        <label class="label" for="repassword">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" class="form-control" id="repassword"
                            name="confirmPassword" #confirmPassword="ngModel" ngModel
                            [(ngModel)]="empPassword.confirmPassword" required>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <div class="row">
                    <div class="col-md-6">
                        <div *ngIf="password.invalid && password.touched" class="alert alert-danger" role="alert">
                            Không được để trống
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="alert alert-danger"
                            role="alert">
                            Không được để trống
                        </div>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="!isConfirmPasswordCorrectly && isConfirmPasswordCorrectly !== undefined" class="alert alert-danger" role="alert">
                            Mật khẩu xác nhận không đúng
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="dOB">Ngày sinh</label>
                        <input type="date" class="form-control" class="form-control" id="dOB" name="dOB" #dOB="ngModel"
                            ngModel appBiggerDayValidator required>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="dOB.invalid && dOB.touched && dOB.errors!.required" class="alert alert-danger"
                            role="alert">
                            Không được để trống
                        </div>
                        <div *ngIf="dOB.errors !== null && !dOB.errors.required" class="alert alert-danger"
                            role="alert">
                            {{dOB.errors.message}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="address">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" name="address" #address="ngModel" ngModel
                            required>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="address.invalid && address.touched" class="alert alert-danger" role="alert">
                            Không được để trống
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="phoneNumber">Số điện thoại</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                            #phoneNumber="ngModel" ngModel appPhonenumberValidator required>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="phoneNumber.invalid && phoneNumber.touched && phoneNumber.errors!.required"
                            class="alert alert-danger" role="alert">
                            Không được để trống
                        </div>
                        <div *ngIf="phoneNumber.errors !== null && !phoneNumber.errors.required"
                            class="alert alert-danger" role="alert">
                            {{phoneNumber.errors!.message}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="id">CMND</label>
                        <input type="text" class="form-control" id="id" name="id" #id="ngModel" ngModel appIdValidator
                            required>
                    </div>
                </div>
            </div>
            <div class="error-message">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="id.invalid && id.touched && id.errors!.required" class="alert alert-danger"
                            role="alert">
                            Không được để trống
                        </div>
                        <div *ngIf="id.errors !== null && !id.errors.required" class="alert alert-danger" role="alert">
                            {{id.errors!.message}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label class="label" for="note">Ghi chú</label>
                        <textarea rows="3" class="form-control" id="note"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12" style="text-align: right;">
                        <button [disabled]="f.invalid" class="btn btn-success" type="submit">Xác nhận</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>