<app-navbar></app-navbar>
<div class="container">
    <div class="order-success">
        <div class="title">
            <h2>Chúc mừng quý khác đă đặt vé thành công</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ticket-review">
                    <div class="info-frame shadow-none p-3 mb-5 bg-light rounded">
                        <div class="row" style="vertical-align: middle;">
                            <div class="col-md-12">
                                <div class="person-info-title" for="fullName">Họ tên: </div>
                                <span id="fullName" class="person-info-text">Huấn Rô Sì</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="person-info-title">Số điện thoại: </div>
                                <span class="person-info-text">0969696969</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="person-info-title">Email: </div>
                                <span class="person-info-text">1751010069huan@ou.edu.vn</span>
                            </div>
                        </div>
                    </div>
                    <div class="ticket-review-frame shadow-sm p-3 mb-5 rounded">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="qr-code-frame">
                                    <img [src]="imageUrl" alt="qr-code" class="qr-code">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="ticket-info">
                                    <div class="ticket-info-title">Chuyến xe</div>
                                    <div class="ticket-info-text">TP.Hồ Chí Minh - <br>TP. Đà Lạt</div>
                                    <div class="ticket-info-title">Ngày khởi hành</div>
                                    <div class="ticket-info-text">30/02/2021</div>
                                    <div class="ticket-info-title">Giờ khởi hành</div>
                                    <div class="ticket-info-text">12:00</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>   
            </div>
        </div>       
    </div>
    <app-footer></app-footer>
</div>
