.navbar{
    background: rgb(0, 157, 255);
    box-shadow: 0 0 10px rgba(40, 230, 247, 0.6); 
}
.bus-icon{
    height: 50px;
}
.navbar-nav.center{
    text-align: center;
}
.nav-item-text{
    font-size: large;
}