<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Vé xe mắc</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Trang chủ <span class="sr-only">(current)</span></a>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-item-text nav-link" routerLink="/login">Đăng nhập</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-item-text nav-link" routerLink="/register">Đăng kí</a>
        </li>
    </ul>
  </div>
</nav>