<div class="main">
    <div class="back_model">
        <div class="container">
            <svg class="back-clicked" (click)="backClicked()">
                <path class="back-clicked-icon" clip-rule="evenodd"
                    d="M0.295,16.706L0.295,16.706L0.295,16.706  l9.97,9.991c0.634,0.66,1.748,0.162,1.723-0.734v-4.976c0.004,0,0.008,0.002,0.012,0.002h19c0.55,0,1-0.45,1-1v-8c0-0.55-0.45-1-1-1  H12c-0.004,0-0.008,0.002-0.012,0.002V6.02c0.024-0.892-1.082-1.376-1.715-0.742l-9.977,9.999  C-0.098,15.672-0.098,16.312,0.295,16.706z M9.983,8.426v4.564H10h1h0.988v-0.002c0.004,0,0.008,0.002,0.012,0.002h1h17v6H13h-1  c-0.004,0-0.008,0.002-0.012,0.002V18.99H11h-1H9.983v4.568l-7.55-7.566L9.983,8.426z"
                    fill="#121313" fill-rule="evenodd" id="Arrow_Left" />
                <g />
                <g />
                <g />
                <g />
                <g />
                <g />
            </svg>
            <div class="row">
                <div class="col-md-12 page">
                    <form class="login-form shadow-sm p-3 mb-5 bg-white rounded" action="">
                        <h4 class="text-login">Chọn loại đăng nhập</h4>
                        <div class="form-group">
                            <div class="row">
                                <div (click)="changeLoginType('nhân viên')" class="col-md-6">
                                    <div #emp class="login-type form-group">
                                        <img class="img-login-type"
                                            src="https://image.freepik.com/free-vector/operator-employee-male-female-cartoon-characters_68708-261.jpg">
                                    </div>
                                    <h5 class="text-type">Nhân viên</h5>
                                </div>
                                <div (click)="changeLoginType('khách hàng')" class="col-md-6">
                                    <div #cus class="login-type form-group">
                                        <img class="img-login-type"
                                            src="https://i.pinimg.com/564x/0a/75/bd/0a75bd7273c456ed5a6d08a05dd72836.jpg">
                                    </div>
                                    <h5 class="text-type">Khách hàng</h5>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-tip">Xin chào {{loginType}}<br>Vui lòng điền thông tin đăng nhập vào các ô
                                bên dưới<br></p>
                        </div>
                        <div class="form-group">
                            <label for="userId" class="text-login">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="userId">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-login">Mật khẩu</label>
                            <input type="text" class="form-control" id="password">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-9">
                                    Chưa có tài khoản? <a routerLink='/register'>Tạo ngay</a>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-success">Đăng nhập</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>