<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div class="bus-management">
        <h2>Các chức năng</h2>
        <div class="option-list">
            <div class="row">
                <div class="col-md-3">
                    <app-option [data]="optionData[0]" [routerLink]="['../information', 2]"></app-option>
                </div>
                <div class="col-md-3">
                    <app-option [data]="optionData[1]"></app-option>
                </div>
                <div class="col-md-3">
                    <app-option [data]="optionData[2]"></app-option>
                </div>
            </div>
        </div>
    </div>
</div>
