<div class="container">
    <app-navbar></app-navbar>
    <div class="payment">
        <div class="row">
            <div class="col-md-4">
                <div class="booking-tip">
                    <h3>Lưu ý</h3>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Thông tin đặt vé của bạn</h3>
                <div class="person-info shadow-sm p-3 mb-5 rounded">
                    <div class="form-group">
                        <div class="row" style="vertical-align: middle;">
                            <div class="col-md-12">
                                <div class="person-info-title" for="fullName">Họ tên: </div>            
                                <span id="fullName" class="person-info-text">Huấn Rô Sì</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="person-info-title">Số điện thoại: </div>
                                <span class="person-info-text">0969696969</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="person-info-title">Email: </span>
                                <span class="person-info-text">1751010069huan@ou.edu.vn</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>