<div class="container">
    <app-navbar></app-navbar>
    <div class="payment">
        <div class="row">
            <div class="col-md-4">
                <div class="booking-tip shadow-sm p-3 mb-5 bg-white rounded">
                    <h3>Lưu ý khi đặt vé</h3>
                    <ol class="tip-list">
                        <li class="tip">
                            Mua vé xe trực tuyến hỗ trợ hai phương thức thanh toán
                            <uL>
                                <li><strong>Thanh toán trực tiếp</strong></li>
                                <li><strong>Thanh toán Momo</strong></li>
                            </uL>
                        </li>
                        <li class="tip">
                            Đối vối <strong>thanh toán trực tiếp</strong> quý khách vui lòng đến trạm xe thanh toán tiền
                            và lấy vé trước <strong>một ngày</strong> khởi hành. Nếu không vé sẽ tự động hủy.
                        </li>
                        <li class="tip">
                            Đối vối <strong>thanh toán Momo </strong>quý khách vui lòng giữ QR code sau khi thanh toán để có thể lấy vé tại quầy.
                            Quý khách có thể hủy vé trước <strong>12 tiếng</strong> của ngày khởi hành.
                            Trường hợp hủy vé trong 12 tiếng trước ngày khởi hành. Quý khách vui lòng liên hệ <strong>hotline</strong>
                            để được hỗ trợ. Tiền đã thanh toán sẽ được hoàn trong 7 ngày.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Thông tin đặt vé của bạn</h3>
                <div class="person-info shadow-sm p-3 mb-5 rounded">
                    <div class="form-group">
                        <div class="row" style="vertical-align: middle;">
                            <div class="col-md-12">
                                <div class="person-info-title" for="fullName">Họ tên: </div>
                                <span id="fullName" class="person-info-text">Huấn Rô Sì</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="person-info-title">Số điện thoại: </div>
                                <span class="person-info-text">0969696969</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="person-info-title">Email: </div>
                                <span class="person-info-text">1751010069huan@ou.edu.vn</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="ticket-info">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="ticket-info-title">
                                    Điểm đi:
                                    <span class="tikect-info-text">
                                        TP. Hồ Chí Minh
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="ticket-info-title">
                                    Điểm đến:
                                    <span class="tikect-info-text">
                                        TP. Đà Lạt
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ticket-info-title">
                                    Ngày giờ khởi hành:
                                    <span class="tikect-info-text">
                                        12:00 30/02/2021
                                    </span>
                                </div>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="payment-info">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="ticket-info-title">
                                                Tổng số ghế:
                                                <span class="total-ticket">
                                                    2
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="ticket-info-title">
                                                Mã ghế:
                                                <span class="seat-id">
                                                    A1, A2
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="ticket-info-title">
                                                Tổng tiền:
                                                <span class="seat-id">
                                                    240.000VNĐ
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="payment-frame">
                                                <h5>Phương thức thanh toán</h5>
                                                <ul class="payment-type-list">
                                                    <li class="payment-type">
                                                        <input [value]="0" type="radio" id="cash" name="payment"
                                                        [(ngModel)]="paymentType">
                                                        <label for="cash" class="payment-type-text">
                                                            Thanh toán trực tiếp 
                                                        </label>
                                                        <img src="/assets/images/CASH_ICON.png" alt="cash"
                                                            class="payment-icon">
                                                    </li>
                                                    <li class="payment-type">
                                                        <input [value]="1" type="radio" id="momo" name="payment"
                                                        [(ngModel)]="paymentType">
                                                        <label for="momo" class="payment-type-text">
                                                            Thanh toán Momo 
                                                        </label>
                                                        <img src="/assets/images/LOGO_MOMO.jpg" alt="momo"
                                                            class="payment-icon">
                                                    </li>
                                                    <li class="payment-type">
                                                        <input [value]="2" type="radio" id="zaloPay"
                                                         name="payment" checked
                                                         [(ngModel)]="paymentType">
                                                        <label for="zaloPay" class="payment-type-text">
                                                            Thanh toán Zalo Pay 
                                                        </label>
                                                        <img src="/assets/images/LOGO_ZALOPAY.jpg" alt="troll"
                                                            class="payment-icon">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success" (click)="openConfirmModal()">Xác nhận thanh toán</button>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h4>Lưu ý</h4>
                                <div class="tip-frame">
                                    <ol class="tip-list">
                                        <li class="tip">Mỗi vé chỉ dành cho một người.
                                            Đối với trẻ em dưới 6 tuổi sẽ được miễn phí vé
                                            (trẻ miễn phí sẽ ngồi cùng ghế với người mua vé).
                                        </li>
                                        <li class="tip">
                                            Quý khách đi xe vui lòng trạm xe trước <strong>15 phút</strong>
                                            tại địa chỉ <strong>69 Phao Sần Va Lây, Láng Thượng, TP.Hồ Chí
                                                Minh.</strong>
                                        </li>
                                        <li class="tip">
                                            Mọi thắc mắc của quý khách vui lòng liên hệ hotline <strong>091 234
                                                5678</strong>.
                                        </li>
                                        <li class="tip">
                                            Vì một số lí do về thuần phong mỹ tục và đạo đức lý tưởng.
                                            Quý khách vui lòng không để <strong>ĐẦU CẮT MOI</strong> lên xe.
                                            Trường hợp nếu không thay đổi kiểu tóc kịp, quý khách vui lòng đội nón suốt
                                            chuyến đi.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<!-- Modal -->
<div class="modal fade" id="comfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="confirm-text">
              Quý khách chắc chắn thông tin đã chính xác và tiếp tục thanh toán?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
          <button type="button" class="btn btn-primary" (click)="payment()">Tiếp tục</button>
        </div>
      </div>
    </div>
  </div>