.d-block{
    height: 50vh;
}
.slogan{
    margin: 20px;
    color: #6bd7ff;
    text-align: center;
    font-weight: 600;
    font-style: italic;

}

/**/
.search-form{
    width: 70%;
    margin: 0 auto;
}

.text-search{
    font-size: 22px;
    font-weight: 600;
}

/**/
.service-banner{
    background-color: #0041C2;
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 30px;
}
.service-frame{
    display: inline-block;
    width: fit-content;
    margin-right: 50px;
}
.service-text{
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}

/*Event*/
.service-frame:hover .service-text {
    cursor: pointer;
    color: #fff200;    
    margin-top: 10px;
}

.service-frame:hover .service-image {
    cursor: pointer;
}