<div class="container">
    <app-navbar></app-navbar>
    <div class="search-tickets">
        <div class="row">
            <div class="option col-md-4"></div>
            <div class="content col-md-8">
                <form action="" class="search-tickets-frame">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="from">Điểm đi</label>
                                <input class="form-control" id="from" type="text">
                            </div>
                            <div class="col-md-6">
                                <label for="to">Điểm đến</label>
                                <input class="form-control" id="to" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="departureDay">Ngày khởi hành</label>
                                <input class="form-control" id="from" type="date">
                            </div>
                            <div class="col-md-6">
                                <label for="departureTime">Giờ khởi hành</label>
                                <input class="form-control" id="to" type="time">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="search-tickets-result">
                    <h2>Kết quả tìm kiếm</h2>
                    <div class="search-results-list">
                        <div class="search-result shadow-sm p-3 mb-5 bg-white rounded">
                            <div class="row ticket-info">
                                <div class="col-md-4">
                                    <p class="search-result-title">Điểm đi</p>
                                    <p class="search-result-content">TP.Hồ Chí Minh</p>
                                    <p class="search-result-title">Loại xe</p>
                                    <p class="search-result-content">Giường nằm</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="search-result-title">Điểm đến</p>
                                    <p class="search-result-content">TP.Đà Lạt</p>
                                    <p class="search-result-title">Giá vé</p>
                                    <p class="search-result-content">100.000VNĐ</p>
                                </div>
                                <div class="col-md-4">
                                    <p class="search-result-title">Ngày khởi hành</p>
                                    <p class="search-result-content">01-01-2021</p>
                                    <p class="search-result-title">Giờ khởi hành</p>
                                    <p class="search-result-content">10h30</p>                          
                                </div>
                            </div>
                            <div class="row ticket-amount">
                                <div class="col-md-12">
                                    <div class="ticket-amount-text">Số vé còn lại: <strong>12</strong></div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>