.main{
    background-image: linear-gradient(180deg, #bdfffc, #6bd7ff) ;
}
.page { 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
}
 /**/
 .register-form{
    background-color: white;
    height: 70%;
    width: 50%;
    width: 50%;
    opacity: 0.9;
 }