<div class="main">
    <div class="container">
        <svg class="back-clicked" (click)="backClicked()">
            <path class="back-clicked-icon" clip-rule="evenodd"
                d="M0.295,16.706L0.295,16.706L0.295,16.706  l9.97,9.991c0.634,0.66,1.748,0.162,1.723-0.734v-4.976c0.004,0,0.008,0.002,0.012,0.002h19c0.55,0,1-0.45,1-1v-8c0-0.55-0.45-1-1-1  H12c-0.004,0-0.008,0.002-0.012,0.002V6.02c0.024-0.892-1.082-1.376-1.715-0.742l-9.977,9.999  C-0.098,15.672-0.098,16.312,0.295,16.706z M9.983,8.426v4.564H10h1h0.988v-0.002c0.004,0,0.008,0.002,0.012,0.002h1h17v6H13h-1  c-0.004,0-0.008,0.002-0.012,0.002V18.99H11h-1H9.983v4.568l-7.55-7.566L9.983,8.426z"
                fill="#121313" fill-rule="evenodd" id="Arrow_Left" />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
        </svg>
        <div class="row">
            <div class="col-md-12 page">     
                <form class="register-form shadow-sm p-3 mb-5 bg-white rounded" action="">
                    <h4>Đăng kí</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="firstName">Họ</label>
                                <input class="form-control" id="firstName" type="text">
                            </div>
                            <div class="col-md-6">
                                <label for="lastName">Tên</label>
                                <input class="form-control" id="firstName" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="dob">Ngày sinh</label>
                                <input class="form-control" id="dob" type="date">
                            </div>
                            <div class="col-md-6">
                                <label for="gender">Giới tính</label>
                                <select class="form-control">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                    <option value="Khác">Khác</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="phoneNumber">Số điện thoại</label>
                                <input class="form-control" id="phoneNumber" type="tel">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="acceptTerm">Tôi đồng ý với tất cả <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">điều khoản</a>.</label>
                                <input style="margin-left: 10px;" id="acceptTerm" type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 offset-md-9" style="text-align: right;">
                                <button class="btn btn-success" type="submit">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
