<div class="main">
    <div class="container">
        <svg class="back-clicked" (click)="backClicked()">
            <path class="back-clicked-icon" clip-rule="evenodd"
                d="M0.295,16.706L0.295,16.706L0.295,16.706  l9.97,9.991c0.634,0.66,1.748,0.162,1.723-0.734v-4.976c0.004,0,0.008,0.002,0.012,0.002h19c0.55,0,1-0.45,1-1v-8c0-0.55-0.45-1-1-1  H12c-0.004,0-0.008,0.002-0.012,0.002V6.02c0.024-0.892-1.082-1.376-1.715-0.742l-9.977,9.999  C-0.098,15.672-0.098,16.312,0.295,16.706z M9.983,8.426v4.564H10h1h0.988v-0.002c0.004,0,0.008,0.002,0.012,0.002h1h17v6H13h-1  c-0.004,0-0.008,0.002-0.012,0.002V18.99H11h-1H9.983v4.568l-7.55-7.566L9.983,8.426z"
                fill="#121313" fill-rule="evenodd" id="Arrow_Left" />
            <g />
            <g />
            <g />
            <g />
            <g />
            <g />
        </svg>
        <div class="row">
            <div class="col-md-12 page">
                <form (ngSubmit)="onSubmit(phoneNumber)" #f="ngForm"
                    class="register-form shadow-sm p-3 mb-5 bg-white rounded">
                    <h4>Đăng kí</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="firstName">Họ</label>
                                <input class="form-control" id="firstName" type="text" name="firstName"
                                    #firstName="ngModel" ngModel required>
                            </div>
                            <div class="col-md-6">
                                <label for="lastName">Tên</label>
                                <input class="form-control" id="lastName" type="text" name="lastName"
                                    #lastName="ngModel" ngModel required>
                            </div>
                        </div>
                    </div>
                    <div class="error-message">
                        <div class="row">
                            <div class="col-md-6">
                                <div *ngIf="firstName.invalid && firstName.touched" class=" alert alert-danger"
                                    role="alert">
                                    Họ không được để trống
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger"
                                    role="alert">
                                    Tên không được để trống
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="dob">Ngày sinh</label>
                                <input class="form-control" id="dob" type="date" name="dob" #dob="ngModel" ngModel
                                    required appBiggerDayValidator>
                            </div>
                            <div class="col-md-6">
                                <label for="gender">Giới tính</label>
                                <select class="form-control">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                    <option value="Khác">Khác</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="error-message">
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="dob.invalid && dob.touched && dob.errors!.required"
                                    class="alert alert-danger" role="alert">
                                    Ngày sinh không được để trống
                                </div>
                                <div *ngIf="dob.errors !== null && !dob.errors.required" class="alert alert-danger"
                                    role="alert">
                                    {{dob.errors.message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="phoneNumber">Số điện thoại</label>
                                <input class="form-control" id="phoneNumber" type="tel" name="phoneNumber"
                                    #phoneNumber="ngModel" ngModel appPhonenumberValidator required>
                            </div>
                        </div>
                    </div>
                    <div class="error-message">
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="phoneNumber.invalid && phoneNumber.touched && phoneNumber.errors!.required"
                                    class="alert alert-danger" role="alert">
                                    Số điện thoại không được để trống
                                </div>
                                <div *ngIf="phoneNumber.errors !== null && !phoneNumber.errors.required"
                                    class="alert alert-danger" role="alert">
                                    {{phoneNumber.errors!.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="acceptTerm">Tôi đồng ý với tất cả <a
                                        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">điều
                                        khoản</a>.</label>
                                <input style="margin-left: 10px;" id="acceptTerm" name="acceptTerm"
                                    #acceptTerm="ngModel" ngModel [(ngModel)]="isAcceptTerm" type="checkbox" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 offset-md-9" style="text-align: right;">
                                <button [disabled]='f.invalid' class="btn btn-success" type="submit">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>